

  <div class="container">
    <h1 class="text-center m-5">Владельцы автомобилей</h1>

    <form  class="m-3" (click)="btnClick($event)">
      <button id="add" class="p-2 m-1 btn btn-primary"><i class="fas fa-plus"></i> Добавить</button>
      <button [disabled]="disabled" id="view" class="p-2 m-1 btn btn-info"><i class="fas fa-eye"></i> Просмотр</button>
      <button [disabled]="disabled" id="edit" class="p-2 m-1 btn btn-warning"><i class="fas fa-edit"></i> Редактировать</button>
      <button [disabled]="disabled" id="delete" class="p-2 m-1 btn btn-danger"><i class="fas fa-trash-alt"></i> Удалить</button>
    </form>

    <table class="table table-striped boxShadow">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Фамилия</th>
        <th scope="col">Имя</th>
        <th scope="col">Отчество</th>
        <th scope="col">Кол-во автомобилей</th>
      </tr>
      </thead>
      <tbody (click)="tableClick($event)">
      <tr *ngFor="let owner of owners; let i = index" class="tableRow" id="{{i}}" [ngClass]="activeRow == i ? 'active' : ''">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ owner.lastName}}</td>
        <td>{{ owner.firstName}}</td>
        <td>{{ owner.secondName}}</td>
        <td>{{ owner.cars.length}}</td>
      </tr>
      </tbody>
    </table>

  </div>

  <div *ngIf="formData && this.showModal"  class="formWrap" (click)="closeModal($event)">
    <app-form class="formPosition"  [formData]="formData" [status]="status" (submitEmit)="submitEmit($event)" (backEmit)="showModal = false"></app-form>
  </div>



