<div class="container modalWrapper">
  <form [formGroup]="carsForm">
    <div class="form-group">
      <label for="lastName">Фамилия</label>
      <input [readOnly]="status == 'view'" type="text" class="form-control" id="lastName" aria-describedby="emailHelp"
             placeholder="Фамилия" formControlName="lastName">

      <div *ngIf="carsForm.get('lastName')?.invalid && carsForm.get('lastName')?.touched">
        <small *ngIf="carsForm.get('lastName')?.errors?.required"><i class="fas fa-star-of-life"></i> Поле не должно
          быть пустым</small>
      </div>
    </div>
    <div class="form-group">
      <label for="firstName">Имя</label>
      <input maxlength="32" [readOnly]="status == 'view'" type="text" class="form-control" id="firstName"
             aria-describedby="emailHelp"
             placeholder="Имя" formControlName="firstName">

      <div *ngIf="carsForm.get('firstName')?.invalid && carsForm.get('firstName')?.touched">
        <small *ngIf="carsForm.get('firstName')?.errors?.required"><i class="fas fa-star-of-life"></i> Поле не должно
          быть пустым</small>
      </div>
    </div>
    <div class="form-group">
      <label for="secondName">Отчество</label>
      <input maxlength="32" [readOnly]="status == 'view'" type="text" class="form-control" id="secondName"
             aria-describedby="emailHelp" placeholder="Отчество" formControlName="secondName">

      <div *ngIf="carsForm.get('secondName')?.invalid && carsForm.get('secondName')?.touched">
        <small *ngIf="carsForm.get('secondName')?.errors?.required"><i class="fas fa-star-of-life"></i> Поле не должно
          быть пустым</small>
      </div>
    </div>

    <h3>Автомобили</h3>
    <div formArrayName="cars" *ngFor="let car of carsControl.controls; let i = index">
      <div [formGroupName]="i" class="form-row">
        <div class="col-md-3 mb-3">

          <label *ngIf="i == 0" for="validationServer01">Гос.Номер</label>
          <input (change)="errorIndex = []" maxlength="8"
                 [ngClass]="isSubmit && !checkUniqueCurrent() || isSubmit && compareIndex(i) ? 'errorBorder': ''" [readOnly]="status == 'view'"
                 type="text" class="form-control" id="validationServer01"
                 placeholder="формат AX1111HP" formControlName="stateNumbers">
        </div>
        <div class="col-md-3 mb-3">

          <label *ngIf="i == 0" for="validationServer02">Марка</label>
          <input maxlength="16" [readOnly]="status == 'view'" type="text" class="form-control" id="validationServer02"
                 placeholder="Марка" formControlName="manufacturer">
        </div>
        <div class="col-md-3 mb-3">

          <label *ngIf="i == 0" for="validationServer03">Модель</label>
          <input maxlength="16" [readOnly]="status == 'view'" type="text" class="form-control" id="validationServer03"
                 placeholder="Модель" formControlName="model">
        </div>
        <div class="col-md-3 mb-3"
             [ngClass]="status=='edit' || status == 'add' && carsControl.controls.length > 1 ? 'show_trash_btn': ''">
          <div class="mr-2">
            <label *ngIf="i == 0" for="validationServer04">Год</label>


            <input maxlength="4" [readOnly]="status == 'view'" type="number" class="form-control"
                   id="validationServer04"
                   placeholder="Год" formControlName="year">

          </div>
          <div *ngIf="status == 'edit' || status == 'add' && carsControl.controls.length > 1" class="btnBox">
            <button (click)="deleteCar(i)" class="styleBtn"><img src="./../../../assets/Trash.png" alt="trash"></button>
          </div>
        </div>
      </div>

    </div>
  </form>


  <div>
    <button [disabled]="carsForm.invalid" *ngIf="status == 'edit' || status == 'add'" (click)="save()"
            class="btn btn-success m-2"><i class="far fa-save"></i> Сохранить
    </button>
    <button *ngIf="status == 'edit' && carsControl.length < 3 || status == 'add' && carsControl.length < 3" (click)="oneMoreCars()"
            class="btn btn-info m-2"><i class="fas fa-plus"></i> Добавить автомобиль
    </button>
    <button (click)="back()" class="btn btn-dark m-2"><i class="fas fa-arrow-circle-left"></i> Назад</button>
  </div>

</div>
