.modalWrapper {
  padding: 16px;
}

.styleBtn {
  background: #d33242;
  border: none;
  cursor: pointer;
  border-radius: .25rem;
  padding: 7px;
}

img {
  width: 16px;
  height: 16px;
}

.btnBox {
  display: flex;
  align-items: center;

}

.show_trash_btn {
  display: flex;
  align-items: end;
}
